name: Update License

on:
  schedule:
    - cron: '0 10 1 1 *' # 10:00 AM on January 1

permissions:
  issues: write
  pull-requests: write

concurrency:
  group: update-license
  cancel-in-progress: ${{ github.event_name != 'issue_comment' }}

jobs:
  update-license-year:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - uses: FantasticFiasco/action-update-license-year@d837fc83ecb71196807bdf3854208f556e66f6ed # v3.0.3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commitAuthorEmail: noreply@github.com
      - name: Merge Pull Request
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr merge --squash --delete-branch
